/* Custom Font */
@font-face {
    font-family: myFont ;
    src: url(NunitoSans.ttf);
}
/* Global Style */
body{
    background-color: #252525 ;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: myFont;
    background-image: url("bg.jpg");
}
/* Anchor Tag Styling */
a{
    text-decoration: none;
    color: white;
}
/* Hover Effect */
a:hover{
    color: #666;
}
.aboutme-section{
    color: white;
    padding: 50px;
    width: 100;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
/* Navbar Styling */
.resume-section{
    padding: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 85%;
    margin:auto;
}
.navbar ul{
    display: flex;
}
.topnav .navbar{
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
}
.topnav .navbar ul li{
    padding: 10px;
    margin: 0 10px;

}
/* About me style */
.aboutme{
    width: 1500px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.s-opener h2{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
 .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
 }
 .image{
    margin-top: 50px;
    margin-left: 30px;
}
.profile{
    border: 5px solid white;
}
.intro{
    float: right;
    width: 800px;
    margin-right: -150px;
}
.intro h2{
    font-weight: 1000;
    text-decoration: underline;
}
.intro p {
    font-size: x-large;
    margin-right: 100px ;
}
.opener h2{
    font-weight: 900;
    color: white;
    font-size: xx-large;
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}
.opener p{
    display: block;
    width: 500px;
    margin-left: 550px;
    font-size:large;
    font-size: large;
    color: white;
}
.logo{
    width: 500px;
    height: 500px;
    border: 5px solid white;
    margin-left: -30px;
}
/* Card container for projects */
 .card{
    width: 325px;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
    margin: 20px;
 }
 .card img{
    width: 100%;
    height: auto;
 }
 .card-content{
    padding: 20px;
 }

 .card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    margin-left: 15px;
 }
 .card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    margin-left: 15px;
 }

 .card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 5px;
    color: #fff;
    margin-left: 10px;

 }
 .btn:hover{
    background-color: #666;
 }
/* Experience Section */
.experience{
    display: flex;
    color: white;
    display: block;
    width: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    padding: 50px;

}
.my-experience h2{
    display: block;
    margin-left: 590px;
    color: white;
    font-size: xx-large;
    font-weight: 900;
    padding: 50px;
}
.experience p{
    font-size: x-large;
}
.experience img{
    width: 350px;
    height: 350px;
}
 .exp{
    padding-right: 500px;
    text-decoration: underline;
}
/* Contact Me Section */
.get-in-touch{
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
.container{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 5);
    padding: 28px;
    margin-top: 10px;
    border-radius: 10px;
}
.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}
.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.user-input-box:nth-child(2n){
    justify-content: end; 
}
.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    padding-bottom: 15px;
}
.user-input-box label{
    width: 90%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}
.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}
.gender-title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}
.gender-category{
    margin: 15px 0;
    color: white;
}
.gender-category label{
    padding: 0 20px 0 5px;
}
.gender-category label,
.gender-category label,
.form-submit-btn input{
    cursor:pointer;
}
.form-submit-btn{
    margin-top: 40px;
}
.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209,209,209);
    background: #666;
}
.form-submit-btn input:hover{
    background: #252525;
    color: rgb(255,255,255);
}
/* Footer Section */
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
    margin-top: -80px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.end{
    display: block;
    width: 200px;
    margin-left: 700px;
    color: white;
}
/* Responsive adjustments for small screens */
@media(max-width:600px){
    .container{
        min-width: 280px;}
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}